*{
    margin: 0;
    padding:0;
}
ul li{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
}
#main{
    position: absolute;
    top: 0;
    left: 50%;
    width: 640px;
    height: 1080px;
    margin-left: -320px;
    -webkit-transform-origin:top;
}
.slide li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide li:nth-child(1){
    background:url("../images/a1.jpg") no-repeat;
}
.slide li:nth-child(2){
    background:url("../images/a2.jpg") no-repeat;
}
.slide li:nth-child(3){
    background:url("../images/a3.jpg") no-repeat;
}
.slide li:nth-child(4){
    background:url("../images/a4.jpg") no-repeat;
}

.zIndex{
    z-index: 111;
}

.a1{
    position: absolute;
    color:#fff;
    width: 100%;
    height: 100%;
    font-size: 40px;

}
.a1 h2{
    margin: 0 auto;
    background: url("../images/title1.png") no-repeat 10px 20px;
    width: 370px;
    height: 96px;
    opacity: 0;
    -webkit-transition: all 3s ease-in-out 0s;
}
#a1 h2{
    width: 390px;
    height: 106px;
    opacity: 1;
    -webkit-transition:1s;
}
.a1 h2 img,.a2 h2 img,.a3 h2 img,.a4 h2 img{
    width: 100%;
    height: 100%;
}

.a1 span{
    width: 100%;
    position: absolute;
    top: 60%;
    letter-spacing: 5px;
    text-align: center;
}

.a1 .point{
    position: absolute;
    bottom: -80%;
    width: 100%;
    height: 100%;
    text-align: center;
}
.a1 .point p{
    display: inline-block;
}
.a1 .point p:nth-child(1){
    -webkit-transform: translate(-300px,10px);
}
.a1 .point p:nth-child(2){
    -webkit-transform: translate(600px,50px);
    font-size: 30px;
    top: 5px;
}
.a1 .point p:nth-child(3){
    -webkit-transform: translate(-400px,-20px);
    font-size: 20px;
}
.a1 .point p:nth-child(4){
    -webkit-transform: translate(500px,40px);
    font-size: 40px;
}
.a1 p:nth-child(5){
    -webkit-transform: translate(-500px,-100px);
    font-size: 50px;
}
.a1 p:nth-child(6){
    -webkit-transform: translate(700px,200px);
    font-size: 20px;
}

#a1 p{
    -webkit-transform: translate(0,0);
    -webkit-transition: 1s;
}

.a2 h2{
    margin: 0 auto;
    background: url("../images/title2.png") no-repeat 10px 20px;
    width: 390px;
    height: 106px;
}

.a2 .message{
    position: absolute;
    width: 100%;
    color: #fff;
    margin-left: 25%;
    font-size: 40px;
    bottom:15%;
    text-align: left;
}
.a2 .message p{
    margin-top: 5px;
}
.a2 .message p span{
    color:#333399;
}

.a2 .message p:nth-child(odd){
    -webkit-transform: translate(500px,0);
}

.a2 .message p:nth-child(even){
    -webkit-transform: translate(-500px,0);
}
#a2 .message p{
    -webkit-transform: translate(0,0);
    -webkit-transition:1s
}


.a3 h2{
    margin: 0 auto;
    background: url("../images/title3.png") no-repeat 10px 20px;
    width: 390px;
    height: 106px;
}
.a4 h2{
    margin: 0 auto;
    background: url("../images/title4.png") no-repeat 10px 20px;
    width: 390px;
    height: 106px;
}
.a4 .technology{
    position: absolute;
    bottom: 15%;
    width: 100%;
    color: #fff;
    font-size: 40px;
}
.a4 .technology p{
    display: inline-block;
}
#a4 .technology p:nth-child(1){
    left: 20%;
    top: 20%;
}